<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.rbac.dao.RolesMapper" >
  <resultMap id="BaseResultMap" type="cn.com.rbac.domain.Roles" >
    <id column="roleId" property="roleid" jdbcType="VARCHAR" />
    <result column="roleCode" property="rolecode" jdbcType="VARCHAR" />
    <result column="roleDes" property="roledes" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    roleId, roleCode, roleDes
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.rbac.domain.RolesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from roles
    where roleId = #{roleid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from roles
    where roleId = #{roleid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.rbac.domain.RolesExample" >
    delete from roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.rbac.domain.Roles" >
    insert into roles (roleId, roleCode, roleDes
      )
    values (#{roleid,jdbcType=VARCHAR}, #{rolecode,jdbcType=VARCHAR}, #{roledes,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.rbac.domain.Roles" >
    insert into roles
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        roleId,
      </if>
      <if test="rolecode != null" >
        roleCode,
      </if>
      <if test="roledes != null" >
        roleDes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleid != null" >
        #{roleid,jdbcType=VARCHAR},
      </if>
      <if test="rolecode != null" >
        #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="roledes != null" >
        #{roledes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.rbac.domain.RolesExample" resultType="java.lang.Integer" >
    select count(*) from roles
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update roles
    <set >
      <if test="record.roleid != null" >
        roleId = #{record.roleid,jdbcType=VARCHAR},
      </if>
      <if test="record.rolecode != null" >
        roleCode = #{record.rolecode,jdbcType=VARCHAR},
      </if>
      <if test="record.roledes != null" >
        roleDes = #{record.roledes,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update roles
    set roleId = #{record.roleid,jdbcType=VARCHAR},
      roleCode = #{record.rolecode,jdbcType=VARCHAR},
      roleDes = #{record.roledes,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.rbac.domain.Roles" >
    update roles
    <set >
      <if test="rolecode != null" >
        roleCode = #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="roledes != null" >
        roleDes = #{roledes,jdbcType=VARCHAR},
      </if>
    </set>
    where roleId = #{roleid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.rbac.domain.Roles" >
    update roles
    set roleCode = #{rolecode,jdbcType=VARCHAR},
      roleDes = #{roledes,jdbcType=VARCHAR}
    where roleId = #{roleid,jdbcType=VARCHAR}
  </update>
</mapper>